* {
    font-family: 'Monaco', monospace, sans-serif;
   }

h1 {
    background: linear-gradient(to bottom right, red, yellow);
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: maroon;
    text-align: left;
    font-size: 42px;
    padding: 8px;
    margin-bottom: 62px;
}

body {
    background-color: rgb(238, 235, 235);
}

img {
    display:inline-block;
    height:auto;
    width:400px;
    border:4px solid maroon;
}

p {
    font-size: 28px;
}